*

!CMakeLists.txt
!shared/
!compute-server/

compute-server/build/
compute-server/cmake-build-*/
compute-server/Dockerfile
shared/build/

**/*.o
**/*.a
**/*.so
**/*.so.*
**/CMakeCache.txt
**/CMakeFiles/
**/compile_commands.json
**/*.swp
**/*~
**/.DS_Store

**/config.json
**/*.pem
**/*.key
**/*.crt
certs/